# Python junk
__pycache__/
*.pyc

# Streamlit local settings
.streamlit/

# Data and Cache
data/metadata.json
*.log
# SQLite Databases
*.db
*.sqlite
*.sqlite3
# Exclude the actual database file from GitHub
data/archiver.db
# Log files
*.log
# Environments
venv/
.env
