# Web App & UI
streamlit>=1.53.1
pandas>=3.0.0

# Browser Automation & Anti-Bot
playwright>=1.57.0
playwright-stealth>=2.0.1

# Translation & Processing
deep-translator>=1.11.4
beautifulsoup4>=4.12.0

# System Tools
cloudscraper>=1.2.71
